[Unit]
Description=Source and destination nat exporter
 
[Service]
Type=forking
EnvironmentFile=/etc/natnf.conf
ExecStart=/usr/bin/natnf -f $NATNFARG
Restart=always
RestartSec=30
 
[Install]
